.page-layout{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items:center;
  gap: 1rem;
}

.navbar a{
  color: black;

}

.navbar a:hover{
  color: blue;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}